.title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;

    span {
        color: $color-accent;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 30px;
    }
}

.title-2 {
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;

    span {
        color: $color-accent;
    }

    /* Mobile XS */
    @media (max-width: 599px) {
        font-size: 24px;
    }
}